<div>
    <
    <input type="text" [(ngModel)]="displayValue" disabled>
    <table>
      <tr>
        <td><button (click)="onButtonClick('7')">7</button></td>
        <td><button (click)="onButtonClick('8')">8</button></td>
        <td><button (click)="onButtonClick('9')">9</button></td>
        <td><button (click)="onButtonClick('/')">/</button></td>
      </tr>
      <tr>
        <td><button (click)="onButtonClick('4')">4</button></td>
        <td><button (click)="onButtonClick('5')">5</button></td>
        <td><button (click)="onButtonClick('6')">6</button></td>
        <td><button (click)="onButtonClick('*')">*</button></td>
      </tr>
      <tr>
        <td><button (click)="onButtonClick('1')">1</button></td>
        <td><button (click)="onButtonClick('2')">2</button></td>
        <td><button (click)="onButtonClick('3')">3</button></td>
        <td><button (click)="onButtonClick('-')">-</button></td>
      </tr>
      <tr>
        <td><button (click)="onButtonClick('0')">0</button></td>
        <td><button (click)="onButtonClick('.')">.</button></td>
        <td><button (click)="onButtonClick('=')">=</button></td>
        <td><button (click)="onButtonClick('+')">+</button></td>
      </tr>
      <tr>
        <td><button (click)="onButtonClick('sin')">sin</button></td>
        <td><button (click)="onButtonClick('cos')">cos</button></td>
        <td><button (click)="onButtonClick('tan')">tan</button></td>
      </tr>
      <tr>
        <td><button (click)="onButtonClick('C')">C</button></td>
        <td><button (click)="onButtonClick('(')">(</button></td>
        <td><button (click)="onButtonClick(')')">)</button></td>
      </tr>
    </table>
  </div>